@model Monitoreo.Models.CicloFormativo
@{
    ViewBag.Title = "Inscribir Personas desde Excel";
}

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>


<div class="panel-body">
    <div class=" panel-group">
        @using (Html.BeginForm("ImportFromExcelFile", "CicloFormativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("id", Model.Id);
            <input name="uploadFile" type="file" /><input type="submit" value="UploadFile" title="Upload file" onclick="" />
        }
    </div>

    <div class="panel-group">
       
        <h3> Formato del archivo de Excel..</h3>
        <table>
            <tr>
                <th>cédula </th>
                <th>Grupo</th>
            </tr>
            <tr>
                <td>000-0000000-0</td>
                <td>Grupo A</td>
            </tr>
        </table>


    </div>


</div>


