@model Monitoreo.Models.CicloFormativo


<div class="panel-heading">
    <h3>Registrar la asistencia desde un archivo de Excel</h3>
</div>


<div class="panel-body">
    <div class=" panel-group">
        @using (Html.BeginForm("RegistrarAsistenciaFromExcelFile", "CicloFormativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("id", Model.Id);
            @Html.Hidden("calendarioId", new { Value = @ViewBag.calendarioId });
            <input name="uploadFile" type="file" /><input type="submit" value="UploadFile" title="Upload file" onclick="" />
        }
    </div>

    <div class="panel-group">

        <h3> Formato del archivo de Excel..</h3>
        <table class=" table table-striped">
            <tr>
                <th>Cédula </th>
                <th>Nombre y Apellido</th>
                <th>Actividad Formativa</th>
                <th>Fecha</th>
                <th>Asistió</th>
            </tr>
            <tr>
                <td>000-0000000-0</td>
                <td>Fulano</td>
                <td>Gestion Pedagogica</td>
                <td>1/1/2016</td>
                <td>{0}{1}</td>
            </tr>
        </table>


    </div>


</div>




