@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/css/hover.css" rel="stylesheet" />

<style type="text/css">
    #menu_panelID li {
        margin: 40px;
    }

    .panel-default > .panel-heading {
        color: white;
        background-color: black;
    }
</style>


<div class="panel-body" style="border-radius: 10px;box-shadow: 10px 10px 20px 5px #C9C9C9;">

    @if (User.IsInRole("Administrador"))
    {
        <div class="row">
            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-university" style="font-size: 4em; color:#f0ad4e;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Distritos Educativos</h3>
                <p style="text-align: center;color:black">Aqui se crean y administran los Distritos Educativos</p>
                <p><a class="btn btn-warning" href="~/Distritos">Ver más &raquo;</a></p>
            </div>

            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-connectdevelop" style="font-size: 4em; color:#c9302c;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Redes Educativas</h3>
                <p style="text-align: center;color:black">Aqui se crean y administran las Redes Educativas</p>
                <p><a class="btn btn-danger" href="~/Redes">Ver más &raquo;</a></p>
            </div>


            <div class="col-md-4 hvr-pop" style="text-align: center;" id="centroIconId">
                <i class="fa fa-building-o" style="font-size: 4em; color:#286090;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Centros Educativos</h3>
                <p style="text-align: center;color:black">Aqui se maneja tanto el personal administrativo, docentes y estudiantes que conforman el Centro Educativo</p>
                <p><a class="btn btn-primary" href="~/Centros">Ver más &raquo;</a></p>
            </div>
        </div>

    <div class="row">

        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-retweet" style="font-size: 4em; color:#BF00FF;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Ciclos Formativos</h3>
            <p style="text-align: center;color:black">Aqui se manejan crean y administran los Ciclos Formativos </p>
            <p><a class="btn btn-success" style="background-color:#BF00FF; border-style:none;" href="~/SuperCiclosFormativos">Ver más &raquo;</a></p>
        </div>



        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-line-chart" style="font-size: 4em; color:#996633;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Evaluaciones Actividades Presenciales</h3>
            <p style="text-align: center;color:black">Aqui se crean y administran las evaluaciones </p>
            <p><a class="btn btn-success" style="background-color:#996633; border-style:none;" href="~/Evaluaciones">Ver más &raquo;</a></p>
        </div>


        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-newspaper-o" style="font-size: 4em; color:#996633;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Evaluaciones de Acompañamiento</h3>
            <p style="text-align: center;color:black">Aqui se crean y administran las evaluaciones de acompañamiento </p>
            <p><a class="btn btn-success" style="background-color:#996633; border-style:none;" href="~/EvaluacionAcompanamientos">Ver más &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Reportes Básicos</h3>
            <p style="text-align: center;color:black">Visualización de reportes básicos..</p>
            <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte">Ver más &raquo;</a></p>
        </div>

        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-users" style="font-size: 4em; color:#bd1c4c;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Usuarios</h3>
            <p style="text-align: center;color:black">Aqui se crean y administran los usuarios que pueden acceder al sistema</p>
            <p><a class="btn btn-info" href="~/Account/Users" style="background-color:#bd1c4c; border-style:none;">Ver más &raquo;</a></p>
        </div>

        <div class="col-md-4 hvr-pop" style="text-align: center">
            <i class="fa fa-street-view" style="font-size: 4em; color:#006400;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Roles</h3>
            <p style="text-align: center;color:black">Aqui se crean y administran los roles de los usuarios que pueden acceder al sistema</p>
            <p><a class="btn btn-info" href="~/Account/RoleList" style="background-color:#006400; border-style:none;">Ver más &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hvr-pop" style="text-align: center;" id="centroIconId">
            <i class="fa fa-forumbee" style="font-size: 4em; color:black;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Acompañantes</h3>
            <p style="text-align: center;color:black">Aqui se administran los acompañantes</p>
            <p><a class="btn btn-primary" href="~/Acompanante">Ver más &raquo;</a></p>
        </div>


        <div class="col-md-4 hvr-pop" style="text-align: center;" id="centroIconId">
            <i class="fa fa-sitemap" style="font-size: 4em; color:black;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Coordinadores</h3>
            <p style="text-align: center;color:black">Aqui se administran los coordinadores de red</p>
            <p><a class="btn btn-primary" href="~/Coordinador">Ver más &raquo;</a></p>
        </div>


        <div class="col-md-4 hvr-pop" style="text-align: center;" id="centroIconId">
            <i class="fa fa-user-secret" style="font-size: 4em; color:black;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Docentes</h3>
            <p style="text-align: center;color:black">Aqui se administran los Docentes de los centros</p>
            <p><a class="btn btn-primary" href="~/Docentes">Ver más &raquo;</a></p>
        </div>
    </div>
        


    <div class="row">
        <div class="col-md-4 hvr-pop" style="text-align: center;" id="centroIconId">
            <i class="fa fa-street-view" style="font-size: 4em; color:black;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Personal Administrativo</h3>
            <p style="text-align: center;color:black">Aqui se administran el Personal Admin de los centros</p>
            <p><a class="btn btn-primary" href="~/PersonalAdministrativo">Ver más &raquo;</a></p>
        </div>


        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-tachometer" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Reportes de Asistencia de Ciclos Formativos</h3>
            <p style="text-align: center;color:black">Reporte de Horas cursadas por Ciclo Formativo y Centro Educativo</p>
            <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ReporteAsistenciaByCiclo">Ver más &raquo;</a></p>
        </div>


        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-line-chart" style="font-size: 4em; color:green;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Reportes de Formularios Acompanamiento</h3>
            @*<p style="text-align: center;color:black">Reporte de Horas cursadas por Ciclo Formativo y Centro Educativo</p>*@
            <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ReporteEvaluacionesByCiclo">Ver más &raquo;</a></p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-pie-chart" style="font-size: 4em; color:blue;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Resumen Formularios Acompanamiento</h3>
            <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ResumenEvalsAcompanamiento">Ver más &raquo;</a></p>
        </div>

    </div>


        }
        @if (User.IsInRole("Acompanante") || User.IsInRole("Formador"))
    {

            <div class="row">
                <div class="col-md-3 hvr-pop" style="text-align: center;">
                    <i class="fa fa-users" style="font-size: 4em; color:#bd1c4c;margin-left:auto;margin-right:auto;"></i>
                    <h3 style="color:black">Mis Docentes</h3>
                    @*<p style="text-align: center;color:black">Aqui puede ver los docentes que acompaña</p>*@
                    <p><a class="btn btn-warning" href="~/Acompanante/AcompananteDocentes">Ver más &raquo;</a></p>
                </div>

                <div class="col-md-3 hvr-pop" style="text-align: center;">
                    <i class="fa fa-male" style="font-size: 4em; color:#bd1c4c;margin-left:auto;margin-right:auto;"></i>
                    <h3 style="color:black">Mi Personal Administrativo</h3>
                    @*<p style="text-align: center;color:black">Aqui puede ver el personal administrativo que acompaña</p>*@
                    <p><a class="btn btn-warning" href="~/Acompanante/AcompanantePersonalAdministrativo">Ver más &raquo;</a></p>
                </div>


                <div class="col-md-3 hvr-pop" style="text-align: center;">
                    <i class="fa fa-retweet" style="font-size: 4em; color:#BF00FF;margin-left:auto;margin-right:auto;"></i>
                    <h3 style="color:black">Ejecución del Proyecto</h3>
                    @*<p style="text-align: center;color:black">Aqui se maneja la ejecución del proyecto</p>*@
                    <p><a class="btn btn-success" style="background-color:#BF00FF; border-style:none;" href="~/PlanMejoraCentro/IndexByAcompanante">Ver más &raquo;</a></p>
                </div>
                <div class="col-md-3 hvr-pop" style="text-align: center;">
                    <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                    <h3 style="color:black">Reportes Básicos</h3>
                    @*<p style="text-align: center;color:black">Visualización de reportes básicos..</p>*@
                    <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte">Ver más &raquo;</a></p>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="col-md-3 hvr-pop" style="text-align: center;">
                        <i class="fa fa-tachometer" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                        <h3 style="color:black">Reportes de Asistencia de Ciclos Formativos</h3>
                        @*<p style="text-align: center;color:black">Reporte de Horas cursadas por Ciclo Formativo y Centro Educativo</p>*@
                        <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ReporteAsistenciaByCiclo">Ver más &raquo;</a></p>
                    </div>
                </div>


                <div class="panel">
                    <div class="col-md-3 hvr-pop" style="text-align: center;">
                        <i class="fa fa-line-chart" style="font-size: 4em; color:green;margin-left:auto;margin-right:auto;"></i>
                        <h3 style="color:black">Reportes de Formularios Acompanamiento</h3>
                        @*<p style="text-align: center;color:black">Reporte de Horas cursadas por Ciclo Formativo y Centro Educativo</p>*@
                        <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ReporteEvaluacionesByCiclo">Ver más &raquo;</a></p>
                    </div>
                </div>
            </div>



    }
        @if (User.IsInRole("Coordinador"))
    {
            <div class="row">
                <div class="col-md-3 hvr-pop" style="text-align: center;">
                    <i class="fa fa-connectdevelop" style="font-size: 4em; color:#c9302c;margin-left:auto;margin-right:auto;"></i>
                    <h3 style="color:black">Mis Redes</h3>
                    <p style="text-align: center;color:black">Aqui se crean y administran las Redes Educativas</p>
                    <p><a class="btn btn-danger" href="~/Coordinador/CoordinadorRedes">Ver más &raquo;</a></p>
                </div>


                <div class="col-md-3 hvr-pop" style="text-align: center;">
                    <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                    <h3 style="color:black">Reportes Básicos</h3>
                    <p style="text-align: center;color:black">Visualización de reportes básicos..</p>
                    <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte">Ver más &raquo;</a></p>
                </div>
                <div class="panel">
                    <div class="col-md-3 hvr-pop" style="text-align: center;">
                        <i class="fa fa-tachometer" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                        <h3 style="color:black">Reportes de Asistencia de Ciclos Formativos</h3>
                        @*<p style="text-align: center;color:black">Reporte de Horas cursadas por Ciclo Formativo y Centro Educativo</p>*@
                        <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ReporteAsistenciaByCiclo">Ver más &raquo;</a></p>
                    </div>
                </div>

                <div class="panel">
                    <div class="col-md-3 hvr-pop" style="text-align: center;">
                        <i class="fa fa-line-chart" style="font-size: 4em; color:green;margin-left:auto;margin-right:auto;"></i>
                        <h3 style="color:black">Reportes de Formularios Acompanamiento</h3>
                        @*<p style="text-align: center;color:black">Reporte de Horas cursadas por Ciclo Formativo y Centro Educativo</p>*@
                        <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="~/Reporte/ReporteEvaluacionesByCiclo">Ver más &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div class="row">


            </div>


    }
    

    @if (User.IsInRole("AdministradorTransversal"))
    {

        <div class="row">
            <div class="col-md-3 hvr-pop" style="text-align: center;">
                <i class="fa fa-retweet" style="font-size: 4em; color:#bd1c4c;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Mis Ciclos Formativos Transversales</h3>
                <p><a class="btn btn-warning" href="/SuperCiclosFormativos">Ver más &raquo;</a></p>
            </div>

            <div class="col-md-3 hvr-pop" style="text-align: center;">
                <i class="fa fa-tachometer" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes de Asistencia</h3>
                <p><a class="btn btn-warning" href="/Reporte/ReporteAsistenciaByCiclo">Ver más &raquo;</a></p>
            </div>


            <div class="col-md-3 hvr-pop" style="text-align: center;">
                <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes de Evluaciones</h3>
                <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte/ReporteEvaluacionesByCiclo">Ver más &raquo;</a></p>
            </div>
        </div>

    }
    

    @if (User.IsInRole("Visualizador"))
    {

        <div class="row">

            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes Básicos</h3>
                <p style="text-align: center;color:black">Visualización de reportes básicos..</p>
                <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte">Ver más &raquo;</a></p>
            </div>


            <div class="col-md-3 hvr-pop" style="text-align: center;">
                <i class="fa fa-tachometer" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes de Asistencia</h3>
                <p><a class="btn btn-warning" href="/Reporte/ReporteAsistenciaByCiclo">Ver más &raquo;</a></p>
            </div>


            <div class="col-md-3 hvr-pop" style="text-align: center;">
                <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes de Evluaciones</h3>
                <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte/ReporteEvaluacionesByCiclo">Ver más &raquo;</a></p>
            </div>

           
        </div>

    <div class="row">
        <div class="col-md-4 hvr-pop" style="text-align: center;">
            <i class="fa fa-pie-chart" style="font-size: 4em; color:blue;margin-left:auto;margin-right:auto;"></i>
            <h3 style="color:black">Resumen Formularios Acompanamiento</h3>
            <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte/ResumenEvalsAcompanamiento">Ver más &raquo;</a></p>
        </div>

    </div>


    }

    @if (User.IsInRole("EspecialistaCurricular"))
    {

        <div class="row">

            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-retweet" style="font-size: 4em; color:#BF00FF;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Ciclos Formativos</h3>
                <p style="text-align: center;color:black">Aqui se manejan crean y administran los Ciclos Formativos </p>
                <p><a class="btn btn-success" style="background-color:#BF00FF; border-style:none;" href="~/SuperCiclosFormativos">Ver más &raquo;</a></p>
            </div>

            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes Básicos</h3>
                <p style="text-align: center;color:black">Visualización de reportes básicos..</p>
                <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte">Ver más &raquo;</a></p>
            </div>


            <div class="col-md-3 hvr-pop" style="text-align: center;">
                <i class="fa fa-tachometer" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes de Asistencia</h3>
                <p><a class="btn btn-warning" href="/Reporte/ReporteAsistenciaByCiclo">Ver más &raquo;</a></p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-bar-chart" style="font-size: 4em; color:#2f4f4f;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Reportes de Evluaciones</h3>
                <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte/ReporteEvaluacionesByCiclo">Ver más &raquo;</a></p>
            </div>


            <div class="col-md-4 hvr-pop" style="text-align: center;">
                <i class="fa fa-pie-chart" style="font-size: 4em; color:blue;margin-left:auto;margin-right:auto;"></i>
                <h3 style="color:black">Resumen Formularios Acompanamiento</h3>
                <p><a style="background-color:#2f4f4f; border-style:none;" class="btn btn-info" href="/Reporte/ResumenEvalsAcompanamiento">Ver más &raquo;</a></p>
            </div>
           

        </div>


    }






    </div>


@section Actions {
}
