
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Docente Activado</title>
</head>
<body>

      <div style="max-width:1500px;border-style:solid;">
        <div><h1 style="text-align:center">Docente isActive: @ViewBag.isActive</h1></div>


        <div style="background-color:#E3E6E3; max-width:1000px;padding:20px; margin: auto;">
            <h2>Docente: <span style="text-decoration: underline;"> @ViewBag.docente </span></h2>
            <h2>Camnbiado por: <span style="text-decoration: underline;"> @ViewBag.userModified </span></h2>
        </div>

       
    </div>
    <p style=""> Esta solicitud fue enviada a las @DateTime.Now</p>


</body>
</html>



