
@{
    ViewBag.Title = "Lista de reportes básicos";
}


<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>
<div class="panel-body">

    <div class="col-md-3">
        <i class="fa fa-search" style="font-size: 5em; color:gray;"></i>
        <h3>Busqueda Rápida Docentes</h3>
        <p style="text-align: justify;">Busqueda Rápida Docentes</p>
        <p><a class="btn btn-success" href="~/reporte/BusquedaPersonal">Ver más &raquo;</a></p>
    </div>



    <div class="col-md-3">
        <i class="fa fa-bar-chart" style="font-size: 5em; color:gray;"></i>
        <h3>Pivote de Personal Docente</h3>
        <p style="text-align: justify;">Reporte del Personal Docente</p>
        <p><a class="btn btn-success" href="~/reporte/reportepivotepersonal">Ver más &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <i class="fa fa-search" style="font-size: 5em; color:gray;"></i>
        <h3>Docentes por Grado</h3>
        <p style="text-align: justify;">Docentes por Grado</p>
        <p><a class="btn btn-success" href="~/reporte/DocentesPorGrado">Ver más &raquo;</a></p>
    </div>




    <div class="col-md-3">
        <i class="fa fa-bar-chart" style="font-size: 5em; color:gray;"></i>
        <h3>Pivote de Personal Administrativo</h3>
        <p style="text-align: justify;">Reporte del Personal Administrativo</p>
        <p><a class="btn btn-success" href="~/reporte/reportepivotepersonaladministrativo">Ver más &raquo;</a></p>
    </div>



    <div class="col-md-3">
        <i class="fa fa-bar-chart" style="font-size: 5em; color:gray;"></i>
        <h3>Filtrado Personal Docente</h3>
        <p style="text-align: justify;">Reporte del Personal Docente</p>
        <p><a class="btn btn-success" href="~/reporte/ReporteFiltradoDocentes">Ver más &raquo;</a></p>
    </div>


    <div class="col-md-3">
        <i class="fa fa-bar-chart" style="font-size: 5em; color:gray;"></i>
        <h3>Reporte de Asistencia de Ciclos Formativos</h3>
        <p style="text-align: justify;">Asistencia de Ciclos Formativos</p>
        <p><a class="btn btn-success" href="~/reporte/ReporteFiltradoDocentes">Ver más &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <i class="fa fa-bar-chart" style="font-size: 5em; color:gray;"></i>
        <h3>Evaluaciones de Acciones Formativas</h3>
        <p style="text-align: justify;">Evaluaciones de Acciones Formativas</p>
        <p><a class="btn btn-success" href="~/reporte/ReporteFiltradoDocentes">Ver más &raquo;</a></p>
    </div>




    


    


</div>

<div class="panel-footer">
    
</div>

